.app-wrapper {
    overflow-x: hidden;
    display: grid;
    max-width: 1153px;
    margin: 0 auto;
    grid-template-areas:
  "header header"
  "nav c"
  "sidebar c";
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(162, 162, 201);
}

